---
import Layout from "./components/layout.astro";
import Header from "./components/header.astro";
import Card from "./components/card.astro";
import Img from "./components/img.astro";
import Section from "./section.astro";

---


<Layout pageTitle="Mi Portafolio" pageDescription="Explora mis proyectos y habilidades">
<Header headerTitle="addname" headerText="Explora mis proyectos y habilidades" headerIntro="Bienvenido a mi Portafolio"/>

<main>
   <Section>
        <Img/> 
        <Card text="Hola, soy Gabriel, un desarrollador apasionado por crear soluciones innovadoras y eficientes.">
            <p>Soy un desarrollador con experiencia en diversas tecnologías y siempre estoy buscando aprender y crecer en mi carrera. Me especializo en desarrollo web, aplicaciones móviles y soluciones de backend. Mi objetivo es crear productos que no solo sean funcionales, sino también intuitivos y atractivos para los usuarios.</p>

        </Card>
   </Section>
       
        
   

</main>


</Layout>
